/* Modificaciones para hacer funcionar las media queries----------------------------------------- */
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

.container-Tablet-Desktop {
  display: none;
}
.container-Mobile {
  height: calc(100% - 76px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContMobile {
  width: 90%;
  height: 90%;
  background-image: url('/Images/fotos/WhatsApp\ Image\ 2022-12-01\ at\ 14.11.52.jpeg');
  background-size: cover;
  border-radius: 20px;
}
/* Modificaciones para hacer funcionar las media queries----------------------------------------- */

#LogoPatts {
  height: 76px;
  display: flex;
  place-content: center;
  justify-content: center;
  align-items: center;
}

#patts {
  width: 48%;
  height: auto;
}

section {
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-flow: wrap;
  padding: 20px;
  justify-content: center;
  max-width: 70%;
}

img {
  width: 230px;
  height: 230px;
  max-width: 300px;
  justify-content: center;
  opacity: 1;
  border-radius: 20px;
  margin: 10px;
  transition: all 1s;
}

.pic {
  position: relative;
  transition: all 1s;
}

.pic:hover img {
  opacity: 0.3;
  transform: scale(0.9, 0.9);
}

.textHome {
  font-family: 'Roboto', sans-serif;
  color: #676767;
  font-size: 120%;
  font-weight: bolder;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes text {
  from {
    right: 50%;
  }
  to {
    right: 50%;
  }
}

/* Mediaquery ------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 426px) {
  .container-Tablet-Desktop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
  }
  .container-Mobile {
    display: none;
  }
}

@media (min-width: 570px) {
  .container-Tablet-Desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 1024px) {
  .container-Tablet-Desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
