* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

.contenedorMainAboutUs {
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorAuImagenes {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.imgDivAU > img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
.contenedorAuTexto {
  padding: 25px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorAuTexto > p {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #676767;
  font-weight: bold;
  text-align: justify;
}

/*media queries-------------------------------------------------------------------------------------------*/

@media (min-width: 516px) {
  .contenedorMainAboutUs {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contenedorAuImagenes {
    padding: 25px;
  }
  .contenedorAuTexto > p {
    font-size: 14px;
  }
}

@media (min-width: 601px) {
  .imgDivAU > img {
    height: 300px;
    width: 300px;
  }
  .contenedorAuTexto > p {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  .imgDivAU > img {
    height: 500px;
    width: 500px;
  }
  .contenedorMainAboutUs {
    padding: 10%;
  }
}
