.seleccionaImg{
  display: flex;
  flex-direction: column;
}

.needs-validation {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #bc0e73;
  font-weight: bold;
  font-size: 12px;
  border: 2px solid #e32f89;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}
.subtitleForm {
  font-weight: bold;
  font-size: 20px;
}
.form-select,
.form-control {
  border: 1px solid #e32f89;
  border-radius: 12px;
  padding: 5px;
}

/* Boton rosa */
.btnCrear {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn-new {
    color: #fff;
    background-color: #e32f89;
    border-color: #e32f89;
    border-radius: 50px;
  }
  
  .btn-new:hover,
  .btn-new:active {
    color: #fff;
    background-color: #c5116b;
    border-color: #c5116b;
  }
  
  .btn-new.focus,
  .btn-new:focus {
    color: #fff;
    background-color: #c5116b;
    border-color: #c5116b;
    box-shadow: 0 0 0 0.2rem rgb(227 47 137 / 50%);
  }